
.book_row {
    width: 100%;
    float: none;
    text-align: center;
}

.col-md-4.book_tile > div > div.book_annotation > span.caption.short {
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
}

.col-md-4.book_row > div > div.book_annotation > span {
    text-align: right;
}

.col-md-4.book_tile > div > .book_readMore {
    visibility: visible;
}

.book_readMore {
    visibility: hidden;
}

div {
    margin-top: 10px;
}

.col-md-4.book_tile div .book_cover {
    width: 100%;
}

.col-md-4.book_tile div {
    float: none;
    clear: both;
}

.col-md-4.book_row div {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100%;
    clear: both;
}

.col-md-4.book_row div .book_cover {
    width: 20%;
    float: left;
    clear: both;
}

.border {
    position: relative;
    outline: 1px solid lightgray;
    padding: 8px;
}

body * {
    transition: all 0.3s;
}

.caption {
    display: block;
}

div .close_button {
    position: absolute;
    top: 0;
    right: 0;
    /*float:right;*/
    /*display:inline-block;*/
    /*padding:2px 5px;*/
    /*background:#ccc;*/
}
.close_button:hover {
    position: absolute;
    top: 0;
    right: 0;
    /*background:#ccc;*/
    color:#fff;
}